<!--<div class="container">-->
<!--  <app-artists-list></app-artists-list>-->
<!--  <app-albums-list></app-albums-list>-->
<!--</div>-->

<!--<footer class="footer">-->
<!--  <div class="d-flex justify-content-between">-->
<!--    <div>-->
<!--      <img class="img-logo-footer spotilike" src="assets/images/spotilike.png" alt="Spotilike Logo">-->
<!--      Maxime Etcheverria | Julien Ousmer-->
<!--    </div>-->
<!--    <a target="_blank" href="https://github.com/Borloo/express-spotilike">-->
<!--      <img class="img-logo-footer" src="assets/images/github.png" alt="GitHub Logo">-->
<!--    </a>-->
<!--    <span>© 2024, All rights reserved</span>-->
<!--  </div>-->
<!--</footer>-->

<router-outlet></router-outlet>
