<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Spotilike</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <app-artists-list></app-artists-list>
        </div>
        <div class="col-md-6">
          <app-albums-list></app-albums-list>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <p>Maxime Etcheverria & Julien Ousmer © All rights reserved</p>
    </div>
  </div>
</div>
