table{
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  .id{
    width: 50px;
  }

  .release, .artist{
    width: 150px;
  }

  .cover{
    width: 200px;
  }

  .title{
    width: 300px;
  }

  .action{
    width: 150px;
  }

  .img-cover{
    width: 100px;
    height: 100px;
  }
}
